<!DOCTYPE html>
{% load static %}
{% load staticfiles %}


<html lang="en">
<head>
    

    <meta charset="UTF-8">
    <title>{% block title %} Victorina {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">


    <style>
 
    </style>
</head>
<body>

    {% if user.is_authenticated %}
    <p align="right" class = 's3'> Привет {{ user.username }}!</p>
        <p align="right" ><a href="{% url 'LogoutView' %}" class = 's3'>logout</a></p><br>
    {% else %}
        <p align="right"  class="s3">Вы не вошли в систему</p>
        <p align="right"><a href="{% url 'login_user' %}" class="s3">Войти</a><br></p>
        <p align="right"><a href="{% url 'signup' %}" class="s3">Зарегистрироваться</a><br></p>
    {%endif%}
    {% block content %}
    {% endblock %}
    
</body>

</html>

