<!DOCTYPE html>
<head>

</head>
<body>

    <h1>Привет!</h1>

    <h2>Я - сайт для обучения</h2></br>
    <h2>Сейчас умею следующее:</h2></br>
    <h2>- Администраторы создают викторины и наполняют их вопросами </h2></br>
    <h2>- Незарегистрированные пользователи увидят, правильно они ответили на вопросы или нет</h2></br>
    <h2>- Зарегистрированные пользователи увидят, правильно они ответили или нет, получат очки, которые сохранятся на их записи,
        а также смогут отследить общий прогресс для каждой викторины (регистрация очень простая - никаких сложных паролей и подвтерждений)</h2></br>

        <h3>В следующих обновлениях:</h3>
        <h3>- Графические правки</h3>
        <h3>- Личный кабинет</h3>
        <h3>- Топ участников</h3>
    
        <p align="center"><a href="/quizes" >Поиграем? </a></p>

</body>