{% extends 'questions/base.html' %}

{% block title %} Список вопросов {% endblock %}

{% block content %}

    <p align="center" class="text1">Список вопросов:</p>
    {% if user.is_authenticated %}
        {% for elem in new_data %}

            <p align="center" class = 'ac'><a href="{{ forloop.counter0 }}">{{elem.1}}</a> Выиграно очков: {{elem.2}}</p>
        </div>
        {%endfor%}
    {% else %}
        {% for elem in new_data %}
        
        <a href="{{ forloop.counter0 }}" class = 'link1'>{{elem}}</a><br>
     
        {%endfor%}
    {%endif%}

{% endblock %}