{% extends 'questions/base.html' %}
{%load static%}
{% block title %} Вопрос {% endblock %}

{% block content %}
    {% if question_setup %}
    <p class="text1">{{question_setup}}</p><br>
    {% else %}
        Вопросы не найдены
    {% endif %}

    {% if variant_1 %}
        <form method="POST">
            {% csrf_token %}


        <p class="s3" align="center"><input name="var" type="radio" value="{{variant_1}}"> {{variant_1}}</p>
        <p class="s3" align="center"><input name="var" type="radio" value="{{variant_2}}"> {{variant_2}}</p>
        <p class="s3" align="center"><input name="var" type="radio" value="{{variant_3}}"> {{variant_3}}</p>
        <p align="center"><input type="submit" value="Выбрать"></p>

         {% for message in messages %}
             {{ message }}
         {% endfor %}


    {% else %}
        Есть варианты то?
    {% endif %}
    {{results}}
    {% if next_question_id < questions_quant %}
        <p class = 's3' align="right"><a href="/{{quiz_id}}/{{next_question_id}}">Следующий вопрос </a></p>
            <p class = 's3' align="center"><a href="/" >Главное меню </a></p>
    {% else %}
        <p class = 's3' align="center"><a href="/" >Главное меню </a></p>
    {% endif %}

     {% if prev_question_id >= 0%}
        <p class = 's3'><a href="/{{quiz_id}}/{{prev_question_id}}">Предыдущий вопрос </a></p>
     {% else %}
     {% endif %}

{% endblock %}
